.colorBackground {
  left: 50%;
  transform: translateX(-50%);
  background-image: url('https://github.com/Lyrockx/Image/blob/main/DragonRecurrence.jpg?raw=true');
  max-height: 800px;
  height: 80vh;
  max-width: 1400px;
  width: 70vw;
  width: 100%;
  filter:
  z-index: -1;
}

.colorBackgroundBottom {
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
  background-image: url('https://github.com/Lyrockx/Image/blob/main/DragonRecurrence.jpg?raw=true');
  height: 600px;
  max-width: 900px;
  width: 55vw;
  width: 100%;
  filter:
  z-index: -1;
}
